body{
    margin: 0;
    text-align: center;
    // color: rgb(71, 71, 71);
    color:#c95858;
    padding: 0;
    background: rgb(243,118,118);
    background: -moz-linear-gradient(350deg, rgba(243,118,118,1) 0%, rgba(243,152,118,1) 50%, rgba(254,227,188,1) 100%);
    background: -webkit-linear-gradient(350deg, rgba(243,118,118,1) 0%, rgba(243,152,118,1) 50%, rgba(254,227,188,1) 100%);
    background: linear-gradient(350deg, rgba(243,118,118,1) 0%, rgba(243,152,118,1) 50%, rgba(254,227,188,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f37676",endColorstr="#fee3bc",GradientType=1); 
    background-repeat: no-repeat;
    background-size: 100% 650%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    h1{
        color:#c95858;
        text-shadow: 0px 3px 2px rgba(201,88,88,0.2);
    }
}
main{
    width: 80%;
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 20px;
    }
    #div-recherhe{
        display: flex;
        justify-content: space-evenly;
        input{
            text-align: center;
            color: #f37676;
            background-color: rgba(254,227,188);
            border: none;
            border-bottom: .2em solid #f37676;
            padding: 3%;
            border-radius: 10px;
        }
        button{
            text-align: center;
            color: #f37676;
            background-color: rgba(254,227,188);
            border: .15em solid #f37676;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding: 3% 5%;
            border-radius: 10px;
            &:hover{
                color:rgba(254,227,188);
                background-color: #f37676;
                border: .15em solid rgba(254,227,188);
                transition: 1s;
            }
        }
    }
    #display-result{
        display: none;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin: 5% auto;
        padding: 1%;
        border-radius: 20px;
        border: 5px solid #f37676;
        width: 70vw;
        #icon-temperature{
            display: flex;
            justify-content: center;
        }
        #detail-temperature-jour{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        #temperature{
            font-size: 20px;
            font-weight: 900;
        }
    }
    .details-temp-jour-suivant{
        background: rgba(255, 255, 255, 0.4);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin: 5% auto;
        padding: 1%;
        border-radius: 20px;
        border: 5px solid white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }
}

@media screen and (min-width: 780px){
    body{
        background-size: 100% 850%;
    }
}

@media screen and (min-width: 1024px){
    body{
        background-size: 100% 400%;
    }
    main{
        #temp-jours-suivant{
            display: flex;
            flex-wrap: wrap;
        }
        .details-temp-jour-suivant{
            width: 15%;
            flex-direction: column;
            margin: 2% auto;
            padding: 2% 0.5%;
            h3, p{
                margin: 3%;
            }
        }
    }
}